#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export PYBUILD_NAME=sqlreduce

override_dh_auto_test:
	pg_virtualenv dh_auto_test

ifeq ($(filter $(DEB_BUILD_PROFILES),cross),)
execute_after_dh_auto_install:
	# build manpage
	PYTHONPATH=$(firstword $(wildcard $(CURDIR)/debian/sqlreduce/usr/lib/python3.*/dist-packages)) \
	help2man --name 'Reduce verbose SQL queries to minimal examples' \
		--version-string "$(DEB_VERSION_UPSTREAM)" \
		--no-info \
		debian/sqlreduce/usr/bin/sqlreduce > docs/sqlreduce.1
endif

%:
	dh $@ --with python3 --buildsystem=pybuild
